<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a311dc98-4fd4-4095-b79e-32d34dcf6a3a/resourceGroups/ATMGroup/providers/Microsoft.Web/sites/AnotherTaskManager</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://anothertaskmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>anothertaskmanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AnotherTaskManager</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AnotherTaskManager</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>